@{
    ViewData["Title"] = "CreateMission";
}


<br />




<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm align-items-center">
            
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <a class="card border-danger d-flex  text-center text-decoration-none" href="/Home/AddMission/" style="color:black; ">
                <div class="card-header fs-3">
                    <img style="width:40px" src="https://media.istockphoto.com/id/688550958/vector/black-plus-sign-positive-symbol.jpg?s=612x612&w=0&k=20&c=0tymWBTSEqsnYYXWeWmJPxMotTGUwaGMGs6BMJvr7X4=" />
                    Let's Create Mission
                </div>
                <div class=" text-primary px-2 pb-2 ">
                    <div class="rounded-3" style="background-color:darkred ">
                        <h5 class="card-title pt-3 " style="color:black">Add Mission</h5>
                        <p class="card-text p-5 " style="color:black">Make your own to-do list.</p>
                        
                    </div>
                    
                </div>
            </a>

        </div>

        <div class="col-sm">
        </div>
    </div>
</div>



