@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black mb-3" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>

                                <form class="mx-1 mx-md-4" method="post">


                                    <div class="d-flex flex-row align-items-center mb-4">

                                        <div class="form-outline flex-fill mb-0">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <label class="form-label" for="form3Example4cd">Username</label>
                                            <input asp-for="@Model.UserName" type="text" id="form3Example4cd" class="form-control" />
                                            <span class="text-danger" asp-validation-for="UserName"></span>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">

                                        <div class="form-outline flex-fill mb-0">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <label class="form-label" for="form3Example4c">Password</label>
                                            <input asp-for="@Model.Password" type="password" id="form3Example4c" class="form-control" />
                                            <span class="text-danger" asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-3 mb-5">
                                        <button type="submit" class="btn py-3" style="background-color:#9C0C13">LOGIN</button>
                                    </div>
                                    <p class="text-center">Don't have an account yet? <a asp-controller="Account" asp-action="SignUp" style="color:#9C0C13">Create one</a></p>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center justify-content-center order-1 order-lg-2">
                                <img src="/img/loginbg2.jpg"
                                     class="img-fluid" alt="Sample image">
                            </div>
                            <p class="text-end"><a style="color:#9C0C13" asp-controller="Home" asp-action="Index">Home</a><p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

